/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 30px;
    background-color: azure;
}

h2 {
    color: rgb(121, 121, 121);
    margin-top: -10px;
}

.cointable {
    border-spacing: 15px;
    border: 1px solid black;
    background-color: white;
}

.tabbed {
    margin-left: 40px;
}

.button {
    width: 220px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 27px;
    background-color: greenyellow;
    border-radius: 5px;
}

.loadbutton {
    width: 80px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 15px;
    background-color: rgb(252, 181, 208);
    border-radius: 3px; 
}

.throwbutton {
    width: 120px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 17px;
    background-color: rgb(107, 248, 154);
    border-radius: 3px; 
}

.deletebutton {
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 20px;
    color: red;
}

.signoutbutton {
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 20px;
    color: rgb(252, 164, 49);
}

.results {
    font-size: 20px;
}

.start {
    font-size: 20px;
}